*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab_wrap{
    border:1px solid #999;
    max-width:300px;
    width: 100%;
}

.tabs {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: #F9F9F9;
}
.tabs ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.tabs li a {
    width:50%;
    color: #444444;
    display: block;
    float: left;
    font-weight:bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border:none;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}
.tabs li a:hover {
    color: #7d7d7d;
    background:#FFFFFF;
}
.tabs li:first-child a {
    border-left:;
}
.tabs li a.active {
    background:#FFFFFF;
    border:none;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #FFFFFF;
}
.tabs li:first-child a.active {
    border:none;
    border-bottom:1px solid #FFFFFF;
}
.tabs li:last-child a.active {
    border:none;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #FFFFFF;
}

.tab_content {
    background:#FFF;
    padding:0;
    display:none;
}
.tab_content.active{
    display:block;
}
.tab_content ul {
    margin:0px;
    padding:0px;
    list-style:none;
}
.tab_content li {
    display:block;
    overflow: hidden;
    border-bottom:1px solid #d6dde0;
}
.tab_content li:last-child {
    border-bottom:none;
}
.tab_content li a {
    display:block;
    list-style:none;
    overflow: hidden;
    padding:10px;
    text-decoration:none;
    color:#444444;
}
.tab_content li a:hover {
    color:#000000;
    background:#F5F5F5;
}
.tab_content li small {
    color:#AAAAAA;
    font-size:11px;
    font-style:italic;
}
.tab_content li a:hover small {
    color:#AAAAAA;
}
